<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119855645852-dd6h4b98lj9gpu9s9droiv7i7j6h941v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119855645852-dd6h4b98lj9gpu9s9droiv7i7j6h941v</string>
	<key>API_KEY</key>
	<string>AIzaSyDhBhZpm9SWizuY5e5n0ahT4mT1xshZVPk</string>
	<key>GCM_SENDER_ID</key>
	<string>119855645852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Evgeny-Ezub.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-46890</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-46890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119855645852:ios:cdd11e3b1c8aaa8ef19959</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-46890.firebaseio.com</string>
</dict>
</plist>